.separacion {
    margin-bottom: 30px;
}

.separacionTop {
    margin-top: 30px;
}

.no-padding{
    padding: 0px;
}

.cursorMamalon {
    cursor: cell;
}

.row .no-gutters {
    margin-right: 0;
    margin-left: 0;
 }
