.separacion {
    margin-bottom: 30px;
}

.separacionTop {
    margin-top: 30px;
}

.no-padding{
    padding: 0px;
}

.cursorMamalon {
    cursor: cell;
}

.row .no-gutters {
    margin-right: 0;
    margin-left: 0;
 }

 .marguen-automatico, .marguen-maximo {
    margin-right: auto!important;
 }
 
 .p-f{
    display: flex;
}

.modal-marguen {
    margin: 10px auto;
}

.fondo {
    background: rgb(0, 0, 0, 0.8);
}