@font-face {
    font-family: "CenturyGothic";
    src: url("../fonts/CenturyGothic.ttf");
    font-family: "Californian FB Regular";
    src: url("../fonts/Californian FB Regular.ttf");
}

body {
    font-size: 25px;
    line-height: 1.5;
    font-family: CenturyGothic;
    color: #7A674E;
    font-style: normal;
    overflow-x: hidden;
}

.fondo-pantalla {
    background-color: #F2F0DD;
    position: relative;
}

.cabecera {
    padding: 10px;
    background: #F2F0DD;
}

.cabecera a {
    color: #7A674E;
    font-size: 20px;
}

.cabecera img.logo {
    padding: 0%;
    width: 20%;
}
.cabecera i.menu-icono {
    font-size: 30px;
    color: #7A674E;
}
.separacion-menu{
    padding: 0px 25px;
}
/*.tituloCategoria {
    position: relative;
    text-align: center;
    text-shadow: 2px 2px 5px #333A56;
    letter-spacing: 10px;
    -webkit-transition:all ease-in-out 3s;
    transition: all ease-in-out 3s;
  }
  .tituloCategoria:hover {
    text-shadow: 4px 4px 10px #8e92a3;
    letter-spacing: 15px;
    font-weight: 900;
    text-align: center;
  }*/

.alturaPantallaCarrucel {
    height: 100%;
    width: 100%;
    
 }
.div-carrucel{
    height: 100%;
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
}

.deep-footer{
    bottom: 0;
    padding: 10px;
    background: #F2F0DD;
    text-align: center;
}

.deep-footer a {
    color: #7A674E;
}

.deep-footer .btn-inicio-footer{
    font-size: 30px;
    padding-top: 30px;
}

.deep-footer .btn-titulo-footer{
    color: #7A674E;
    letter-spacing: 7px;
    padding-bottom: 20px;
    font-family: Californian FB Regular;
}
.deep-footer .btn-arriba-footer{
    font-size: 30px;
    padding-top: 30px;
}

.menu-social {
    margin: 0px;
}
.menu-social li {
    display: inline-block;
    padding: 0px;
}
.menu-social li a {
    padding: 7px;
    font-size: 30px;
    color: #7A674E;
    -webkit-transition:all ease-in-out 1.5s;
    transition: all ease-in-out 1.5s;
}
.menu-social li a:hover {
    color: #9B8C67;
    padding: 30px;
}

.caja-categoria {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}
.caja-categoria img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-transition: all ease-in-out 1s;
    transition: all ease-in-out 1s;
}
.caja-categoria:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    
}
.caja-categoria .informacion {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 30px 40px;
    -webkit-transition: all ease-in-out 1s;
    transition: all ease-in-out 1s;
    opacity: 0;
}
.caja-categoria:hover .informacion {
    opacity: 1;
}
.caja-categoria .informacion .texto {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
    position: relative;
    -webkit-transition: all ease-in-out 1s;
    transition: all ease-in-out 1s;
}
.caja-categoria .informacion .texto .texto-interior {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 50%;
    height: 50%;
}
.caja-categoria .informacion .texto .texto-interior h5 {
    color: #ffffff;
    font-size: 30px;
    text-transform: capitalize;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: all ease-in-out 1s;
    transition: all ease-in-out 1s;
    opacity: 0;
    background: linear-gradient(to top,rgba(255,255,255,0) , rgba(0, 0, 0, .7) 50%,rgba(255,255,255,0));
    background: radial-gradient(black 5%, rgb(0, 0, 0,.5) 25%, rgba(255, 255, 255, 0) 50%);
}
.caja-categoria:hover .informacion .texto-interior h5 {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 1;
}

.galeriaEncaje{
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 5px;
    grid-auto-flow: row dense;
    margin-top: 10px;
}

@media all and (min-width: 320px) {
    .galeriaEncaje {
        grid-template-columns: repeat(1, 1fr);
    }
    .carrucelProducto {
        grid-column: span 4;
        grid-row: span 4;
    }
}

@media all and (min-width: 768px) {
    .galeriaEncaje {
        grid-template-columns: repeat(2, 1fr);
    }
    .carrucelProducto {
        grid-column: span 4;
        grid-row: span 4;
    }
}

@media all and (min-width: 1024px) {
    .galeriaEncaje {
        grid-template-columns: repeat(3, 1fr);
    }

    .tamanoCarrucel {
        grid-column: span 2;
        grid-row: span 2;
    }
    .carrucelProducto {
        grid-column: span 4;
        grid-row: span 4;
    }
}

@media all and (min-width: 1200px){
    .galeriaEncaje {
        grid-template-columns: repeat(4, 1fr);
    }

    .tamanoCarrucel {
        grid-column: span 2;
        grid-row: span 2;
    }
    .carrucelProducto {
        grid-column: 2 / span 3;
        grid-row: span 3;
    }
}


